nav {
    ul {
        display: flex;
        list-style: none;
        li {
            width: 20%;
            a {
                padding: 10px 0;
                text-align: center;
                display: block;
                color: black;
                text-decoration: none;
                background-color: goldenrod;

                &:hover, &.active {
                    background-color: gold;
                }
            }
        }
    }
}
